

body {
  font-family: sans-serif;
  background-color: cornsilk ;
  
}

h1 {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  background-color: rgb(51, 78, 102);
  padding: 30px;
  color: cornsilk;
 

}

main {
  width: 100%;
  margin: 0 auto;

}

hr {
  border: 0;
  background-color: #ccc;
  height: 1px;
  margin: 20px 0;
}

footer{
  background:rgb(51, 78, 102);
  padding: 30px;
  text-align: center;
  color: cornsilk;
  font-size: 17px;
  border: none;
  
} 



footer a {
  color: white;
}


footer a:hover {
  color:black;
  text-decoration: none;
}
#add, #back {
  margin-left: 70%;
  margin-top: 20px;
  margin-bottom: 20px;
  width: fit-content;
  padding: 10px;
  background-color:rgb(51, 78, 102);
  border: 2px solid #aaa;
  border-radius: 8px;
  font-size: 16px;
  transition: all 1.5s ease;
  color: white;
}
#save,
#update {
  margin-left: 70%;
  margin-top: 20px;
  margin-bottom: 20px;
  width: fit-content;
  padding: 10px;
  background-color: rgb(51, 78, 102);
  border: 2px solid #aaa;
  border-radius: 5px;
  font-size: 16px;
  transition: all 1.5s ease;
  color: white;
}


#add:hover,
#back:hover {
  cursor: pointer;
  background-color: rgb(76, 110, 141);
  color: white;
  border-color: #00ced1;
  text-decoration: none;
}
#save:hover,
#update:hover
{
  cursor: pointer;
  background-color:  rgb(76, 110, 141);
  color: white;
  border-color: #00ced1;
}

#create label {
  display: block;
  width: 300px;
  font-size: 14px;
  border: none;
}


#create textarea {
  display: block;
  width: 99%;
  border: 4px solid #F2D388;
  border-radius: 2px;
  padding: 4px;
  font-size: 14px;
}

#create input {
  outline: none;
  border: 2px solid #999;
  transition: all 0.6s ease;
  display: block;
  width: 99%;
  border: 4px solid #F2D388;
  border-radius: 2px;
  padding: 4px;
  font-size: 14px;
}

#create input:focus {
  border: 2px solid  rgb(76, 110, 141);
  box-shadow: 0px 0px 10px #F2D388;
}

#create textarea {
  outline: none;
  resize: vertical;
  border: 2px solid  rgb(76, 110, 141);
  box-shadow: 0px 0px 10px #F2D388;
}

#create .row {
  margin: 10px 0;
}

ul li span {
  text-decoration: underline;
  cursor: pointer;
  color: #00ced1;
}

.edit {
  border: 0;
  background-color: #fff;
  cursor: pointer;
}

.delete {
  border: 0;
  color: #fff;
  background-color: #b22222;
  border-radius: 50%;
  transition: all 0.4s ease;
}
.delete:hover {
  cursor: pointer;
  transform: rotate(360deg) scale(2);
  background-color: red;
}

/* Box di avviso errori */
.alert {
  background-color: #b22222;
  color: #fff;
  top: -500px;
  width: 400px; /* per centrare orizzontalmente un elemento fixed/absolute */
  left: 50%; /* per centrare orizzontalmente un elemento fixed/absolute */
  margin-left: -200px; /* per centrare orizzontalmente un elemento fixed/absolute */
  position: fixed;
  z-index: 99;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease;
}

.alert.show {
  top: 100px;
}

.alert p {
  padding: 20px;
}

/* Placeholder per caricamento */
.loading {
  color: #aaa;
  padding: 15px;
  border: 1px dashed #aaa;

  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Animazione */
@keyframes pulse {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.4;
  }
}

/* Style added */

#container {
  background-color: #A7D2CB;
  height:max-content;
  display: flex;
  flex-direction: column;
  border: 5px rgb(51, 78, 102) solid;
  border-radius: 4px;
}

#container p, h2 {
  background-color:rgb(51, 78, 102);
  border: 5px solid  rgb(51, 78, 102);
  color: cornsilk;
  margin: 0px 0px 10px 0px;
  padding: 20px;
  text-align: left;
  font-size: 24px; 
}

#container article p {
  background: #F2D388;
  color: black;
  border:rgb(51, 78, 102) 4px solid;
  border-radius: 7px;
  text-align: center;
}

#container article img{
  border:rgb(51, 78, 102) 4px solid;
  border-radius: 7px;
  width: 400px;
  margin: 0 auto;
  display: block;  
}

ul li {

  margin: 7px 10px 7px -30px;
  list-style-type: none;
  background-color: #F2D388;
  padding: 10px;
  border:rgb(51, 78, 102) 4px solid;
  border-radius: 7px;
  height: 35px;
  opacity: 0.8;
}

label {
  background-color: #F2D388; 
  font-size: 24px;
  padding: 10px;
  border:rgb(51, 78, 102) 1px solid;
  border-radius: 3px;
  height: 5px;
}



li:hover {
  opacity: 1;
}



.edit {
  width: 30px;
  float: right;
  padding: 2px;
  background: #F2D388;
}

.delete {
  float: right;
}

a {
  margin-left: 37px;
  color: black;
  font-size: 20px;
}

h3 {
  font-size: 24px;
  color: cornsilk;
  background-color:  rgb(51, 78, 102);
  border: 5px solid  rgb(51, 78, 102);
  margin: 0px 0px 10px 0px;
  padding: 20px;
  text-align: center;
  font-weight: 600;
  font-style: oblique;
}

button {
  color: cornsilk;
}

